a {
  text-decoration: none;
}

ul {
  list-style: none;
}

iframe {
  width: 100%;
}

.l-main__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

aside {
  width: 20%;
  background-color: #F2EDE9;
}

article {
  background-color: #FFFDFA;
}

.l-main__colum {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.l-common__second-img {
  height: 380px;
  background-color: #000000;
  border: 1px solid #707070;
}

.l-header__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:1001px) {
  .l-header__box {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.l-header__title {
  width: 17%;
  height: auto;
  padding: 3%;
  cursor: pointer;
}
@media screen and (max-width:1001px) {
  .l-header__title {
    width: auto;
    padding-bottom: 0;
    margin-top: 2%;
  }
}

.l-sidebar__wrapper {
  margin-left: 13.6%;
}

.l-sidebar__main {
  margin-top: 21%;
}
.l-sidebar_sub {
  font-size: 1rem;
}
.l-sidebar__sub-content {
  margin-left: 6%;
  margin-top: 11%;
  margin-bottom: 17%;
}
.l-sidebar__sub-content li {
  color: #707070;
  margin-bottom: 5%;
}
.l-sidebar__title {
  width: 4.5%;
  margin-top: 27%;
  font-size: 1.5rem;
  cursor: pointer;
}

.l-footer__content {
  text-align: center;
  background: url(../../mainvisual-img/footer.png);
  background-position: 0 -10%;
  color: #FFFFFF;
}
.l-footer__content p {
  font-weight: 400;
  font-size: 1rem;
  padding: 1%;
}
@media screen and (max-width:1001px) {
  .l-footer__content p {
    padding: 3%;
  }
}

.l-footer__wrapper {
  padding-bottom: 1%;
  padding-top: 1%;
}
@media screen and (max-width:1001px) {
  .l-footer__wrapper {
    padding-bottom: 2%;
    padding-top: 2%;
  }
}

.l-humberger__overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width:1001px) {
  .l-humberger {
    position: absolute;
    right: -20%;
  }
  .l-humberger__btn {
    margin-top: 0;
    position: relative;
    top: 11px;
    right: 105px;
  }
  .l-humberger__nav {
    transition: 0s;
    z-index: 100;
    margin-top: 40%;
  }
  .open.l-humberger {
    right: 0;
    position: fixed;
    top: 0;
    width: 43%;
    height: 100%;
    background-color: #F2EDE9;
    z-index: 100;
    transition: right 0.3s ease;
    overflow-y: auto;
  }
  .open.l-humberger__fixed {
    position: fixed;
  }
  .open.l-humberger__btn {
    display: none;
  }
  .open.l-humberger__toggle {
    display: block;
    z-index: 150;
  }
  .open.l-humberger__toggle span {
    width: 11%;
    height: 6px;
    right: 4%;
    display: block;
    background-color: #707070;
    position: absolute;
    transition: 0s;
  }
  .open.l-humberger__toggle span:nth-child(1) {
    top: 25px;
    transform: rotate(45deg);
  }
  .open.l-humberger__toggle span:nth-child(2) {
    top: 25px;
    transform: rotate(-45deg);
  }
  .open.l-humberger__overlay {
    display: block;
    z-index: 50;
  }
}
@media screen and (max-width:769px) {
  .l-humberger__btn {
    top: 6px;
    right: 96px;
  }
}
.p-about__flex {
  margin: 8%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:769px) {
  .p-about__flex {
    flex-direction: column;
  }
}

.p-about__sub-content-wrapper {
  width: 47%;
}
@media screen and (max-width:769px) {
  .p-about__sub-content-wrapper {
    width: 100%;
    margin-bottom: 5%;
  }
}

.p-about__background-firstimg {
  background: url(../../mainvisual-img/top-side-1.jpg);
  background-size: cover;
  background-position: center;
}

.p-about__background-secondimg {
  background: url(../../mainvisual-img/to0-side-2.png);
  background-size: cover;
  background-position: center;
}

.p-about__map {
  position: relative;
}
.p-about__map-back {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
.p-about__map-content {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 100%;
}
@media screen and (max-width:1001px) {
  .p-about__map-content {
    width: 100%;
  }
}
.p-about__map-content-wrapper {
  margin: 12.5%;
}
.p-about__map-underbar {
  width: 8%;
  border: 1px solid;
  margin: 6% 0;
}

.p-about__underbar {
  width: 14%;
  border-bottom: 4px solid;
}

.c-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27%;
  max-width: 140px;
  margin: 5% 0;
  height: 34px;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  color: #707070;
  cursor: pointer;
}

.c-searchform {
  display: flex;
  align-items: center;
  width: 35%;
  gap: 0 10px;
  margin-right: 2.5%;
  overflow: hidden;
}
.c-searchform__label {
  display: flex;
  align-items: center;
  width: 72%;
  position: relative;
  background-color: #FFFFFF;
}
.c-searchform__label input {
  width: 100%;
  height: 34px;
  padding: 1px 5px 1px 35px;
  border: 1px solid;
  border-color: #707070;
  border-radius: 10px;
  box-sizing: border-box;
  color: #000;
  outline: none;
}
.c-searchform__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.c-searchform__btn::before {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z' fill='%23808080'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
}
@media screen and (max-width:1001px) {
  .c-searchform {
    width: 65%;
    gap: 0 10px;
    margin: 0 auto 1% auto;
  }
}

.c-top {
  background: url(../../mainvisual-img/mainvisual-pc.jpg) no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
@media screen and (max-width:769px) {
  .c-top {
    background-position: center;
  }
}
.c-top__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.c-top__title {
  color: #FFFFFF;
  align-items: center;
}

.c-inner__background {
  width: 100%;
  height: 1197px;
  position: relative;
}
.c-inner__background-title {
  color: #FFFFFF;
  margin-top: 2%;
  margin-left: 1.7%;
}
.c-inner__background-title h1 {
  margin-bottom: 4%;
}

.c-inner__flow-bottom-text {
  background-color: #FFFFFF;
  opacity: 0.8;
  margin: 3%;
  padding: 2%;
  position: absolute;
  left: 0;
  right: 0;
}

.u-font__background-title {
  font-weight: 700;
  font-size: 3rem;
}

.u-font__map-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.u-roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #707070;
}
.u-roboto-bold__side-title {
  font-size: 2.5rem;
  color: #FFFFFF;
}

.u-m-1p-regular {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #707070;
}
.u-m-1p-regular__brown {
  color: #3C2A10;
}
.u-m-1p-regular__white {
  color: #FFFFFF;
}

.u-m-1p-bold {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #707070;
}
.u-m-1p-bold__brown {
  color: #3C2A10;
}
.u-m-1p-bold__white {
  color: #FFFFFF;
}

.u-header__back {
  background-color: #FFF7EF;
}

.u-header__title {
  color: #707070;
}

.u-font__side-title {
  color: #707070;
}

.u-color-brown {
  color: #3C2A10;
}

.u-color-white {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */