@use"../../fundation/mixin";

.c-colum {
  width: 47%;
  background-size: cover;
  background-position: center;
}
@include mixin.mq(tb){
  .c-colum {
    width: 100%;
    &:first-child{
        margin-bottom: 5%;
    }
  }
}