@use"../../Fundation/mixin";

.c-top {
  background: url(../../mainvisual-img/mainvisual-pc.jpg) no-repeat;
  background-size: cover;
  background-position: 0 50%;
  &__wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  }
  &__title{
  color: #FFFFFF;
  align-items: center;
  @include mixin.rem(40px);
  }
}
@include mixin.mq(tb){
  .c-top {
    background: url(../../mainvisual-img/mainvisual-sp@2x.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    &__title{
        @include mixin.rem(36px);
    }
  }
}