@use"../../fundation/mixin";

.c-top {
  background-size: cover;
  background-position: 0 50%;
  &__wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  }
  &__inner{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    @include mixin.mq(pc){
      margin-left: 10%;
    }
  }
  &__title{
  color: #FFFFFF;
  align-items: center;
  @include mixin.rem(40px);
  }
  &__single{
    background-size: cover;
    background-position: center;
  }
}
@include mixin.mq(pc){
  .c-top__single{
    background-size: 150%;
    background-position: center;
  }
}
@include mixin.mq(tb){
  .c-top {
    background-size: cover;
    background-position: center;
    &__title{
        @include mixin.rem(36px);
    }
  }
}