@use"../../fundation/mixin";

.u-header__back {
  background-color: #FFF7EF;
}

.u-header__title {
  color: #707070;
}

.u-7070 {
  color: #707070;
}

.u-color-brown {
  color: #3C2A10;
}

.u-color-white {
  color: #FFFFFF;
}

.u-color-blue{
  color:#4A6C9B;
}