@use"../../Fundation/mixin";

.u-header__back {
  background-color: #FFF7EF;
}

.u-header__title {
  color: #707070;
}

.u-font__side-title {
  color: #707070;
}

.u-color-brown {
  color: #3C2A10;
}

.u-color-white {
  color: #FFFFFF;
}