// header
@use"../Fundation/base";
@use"../Fundation/mixin";

.l-header__box{
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include mixin.mq(pc){
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

.l-header__title{
    width: 17%;
    height: auto;
    padding: 4%;
    @include mixin.rem(64px);

    @include mixin.mq(pc){
        width: auto;
        padding-bottom: 0;
        margin: 4%;
        margin-top: 2%;
        @include mixin.rem(40px);
    }

}
