@use"../Fundation/mixin";
@use"../Fundation/base";


.l-humberger__overlay{
    display         : none;
    position        : fixed;
    background-color: rgba(0, 0, 0,.5);
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
}

@include mixin.mq(pc) {

    .l-humberger{
        position                : absolute;
        right                   : -20%;
        &__btn{
            margin-top          : 0;
            position            : relative;
            top                 : 11px;
            right               : 105px;
        }
        &__nav{
            transition          : 0s;
            z-index             : 100;
            margin-top          : 40%;
        }
    }

    .open{
        &.l-humberger{
            right             : 0;
            position          : fixed;
            top               : 0;
            width             : 43%;
            height            : 100%;
            background-color: base.$btnBase;
            z-index           : 100;
            transition        : right 0.3s ease;
            overflow-y        : auto;
            &__fixed{
                position        :fixed;
            }
            &__btn{
                display         : none;
            }
            &__toggle{

            display             : block;
            z-index             : 150;
            span {
                width           : 11%;
                height          : 6px;
                right           : 4%;
                display         : block;
                background-color: base.$SideBase;
                position        : absolute;
                transition      : 0s;
                &:nth-child(1){
                    top         : 25px;
                    transform   : rotate(45deg);
                }
                &:nth-child(2){
                    top         : 25px;
                    transform   : rotate(-45deg);
                }
            }
            }
        }
     
        &.l-humberger__overlay{
            display             : block;
            z-index             : 50;
        }
    }


}

@include mixin.mq(tb){
    .l-humberger__btn{
        top: 6px;
        right: 96px;
    }
}