@use"../Fundation/base";
@use"../Fundation/mixin";

.l-sidebar__wrapper{
    margin-left: 13.6%;
}
.l-sidebar{
        transition: right 0.3s ease;
        &__main{
        margin-top       : 21%;
        }
        &_sub{
        font-size        : 1rem;
        }

        &__sub-content{
        margin-left  : 6%;
        margin-top   : 11%;
        margin-bottom: 17%;
        li{
        color            : base.$SideBase;
        margin-bottom:   5%;
        }
        }
        &__title{
        width            : 4.5%;
        margin-top       : 27%;
        cursor: pointer;
        @include mixin.rem(24px);
        @include mixin.mq(pc){
            display: none;
        }
        }

}





