//mixinCSS

$breakpoints:(
    'sp': 'screen and (max-width:376px)',
    'tb': 'screen and (max-width:769px)',
    'pc': 'screen and (max-width:1001px)'
);

@mixin mq($breakpoint){
    @media #{map-get($breakpoints,$breakpoint)}{
        @content;
    }
}

$base-font-size:16px;

@mixin rem($font-size){
    font-size: #{$font-size / $base-font-size}rem;
}

@mixin rate($property, $adult, $child){
    // 単位の削除
    $adult-num: if(unit($adult) == "px", $adult / 1px, $adult);
    $child-num: if(unit($child) == "px", $child / 1px, $child);
    // プロパティに割合を設定
    #{$property}: ($child-num / $adult-num) * 100%;
}