@use"../Fundation/base";

.c-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 27%;
        max-width: 140px;
        margin: 5% 0;
        height: 34px;
        border: 1px solid base.$SideBase;
        border-radius: 10px;
        background-color: base.$btnBase;
        color: base.$SideBase;
        cursor: pointer;
}