@use"../Fundation/base";
@use"../Fundation/mixin";

.c-top{
         background         : url(../../mainvisual-img/mainvisual-pc.jpg) no-repeat;
         background-size    : cover;
         background-position: 0                                           50%;
         @include                   mixin.mq(tb){
         background-position: center;
         }

         &__wrapper{
         height             : 100%;
         display            : flex;
         align-items        : center;
         margin-left        : 5%;
         }

         &__title{
         color              : base.$White;
         align-items        : center;
         }

}

