@use"../Fundation/base";

.c-inner__background{
    width            : 100%;
    height           : 1197px;
    position         : relative;
    &-title{
    color            : base.$White;
    margin-top       : 2%;
    margin-left      : 1.7%;
    h1{
        margin-bottom: 4%;
    }
    }
}

.c-inner__flow-bottom-text{
    background-color : base.$White;
    opacity          : 0.8;
    margin           : 3%;
    padding          : 2%;
    position         : absolute;
    left             : 0;
    right            : 0;
}

